<div class="col-md-6 col-md-offset-2">
	<div class="people" *ngIf="followed">

		<!--LISTADO-->
		<h3 class="font-weight-normal">Tus coach</h3>
		<div *ngFor="let follow of followed" class="item-user">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="image-user pull-left">
						<a href="#">
							<img class="avatar rounded-circle" src="{{ url +'get-image-user/' + follow.user.image }}" *ngIf="follow.user.image"/>
							<img class="avatar rounded-circle" src="assets/images/user.png"  *ngIf="!follow.user.image"/>
						</a>	
					</div>

					<div class="user-name pull-left">
						<p class="name-surname">
							<a [routerLink]="['/perfil',follow.user._id]">
								{{follow.user.name + ' ' + follow.user.lastname}}
							</a>
						</p>
					</div>
				</div>
			
			</div>

		</div>

		<!--PAGINACION-->
		<ul class="pagination pull-right">
			<li *ngIf="page > 1"><a [routerLink]="['/seguidores', userPageId, prev_page]">Anterior</a></li>
			<li *ngIf="pages != page"><a [routerLink]="['/seguidores', userPageId, next_page]">Siguiente</a></li>
		</ul>
	</div>
</div>
