<body>
  <div *ngIf="!identity ">
    <nav class="navbar navbar-expand-lg navbar-light" style="background:#F4F7F8" >
        <a class="navbar-brand font-weight-normal" style="color:#06394A">iCoach 
            <i class="fas fa-hands-helping"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" [routerLinkActive]="['actived']">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link active font-weight-normal" style="color:#06394A" [routerLink]="['/inicio']">Características <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link active font-weight-normal" style="color:#06394A" [routerLink]="['/contacto']">Contacto</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link active font-weight-normal" style="color:#06394A" [routerLink]="['/login']">Ingresa</a>
              </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle font-weight-normal" style="color:#06394A" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comenzar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item font-weight-normal" style="color:#06394A" [routerLink]="['/registro']">Registro Coach</a>
                <a class="dropdown-item font-weight-normal" style="color:#06394A" [routerLink]="['/dar-acceso']">Registro participante</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
  </div>
  <!--Si estoy identificado como Coach-->
  <div *ngIf="identity">
    <nav class="navbar navbar-expand-lg navbar-light " *ngIf="identity.role_coach">
        <a class="navbar-brand"  >iCoach 
            <i class="fas fa-hands-helping"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" [routerLinkActive]="['actived']">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link font-weight-normal" href="#"> 
                      <i class="fas fa-home" style="color:#06394A"></i>
                    Inicio
                  </a>
                </li>
            <li class="nav-item active">
              <a class="nav-link font-weight-normal" [routerLink]="['/perfil/:id']"> 
                <i class="fas fa-user-circle" style="color:#06394A"></i>
                Perfil
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link font-weight-normal" [routerLink]="['/mensajes']">
                <i class="far fa-envelope" style="color:#06394A"></i>
                Mensajes
              </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link font-weight-normal" [routerLink]="['/siguiendo',identity._id,1]">
                  <i class="fas fa-users" style="color:#06394A"></i>
                  Mis participantes
                </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link font-weight-normal" [routerLink]="['crear-institucion']">
                      <i class="fas fa-building" style="color:#06394A"></i>
                    Agregar institución
                  </a>
                </li>
                <li class="nav-item active" >
                    <a class="nav-link font-weight-normal" [routerLink]="['buscar-usuarios']">
                      <i class="fas fa-search" style="color:#06394A"></i>
                      Buscar participantes
                    </a>
                  </li>

                  <li class="nav-item active">
                      <a class="nav-link font-weight-normal" [routerLink]="['mis-resultadosi']">
                          <i class="fas fa-check" style="color:#06394A"></i>                     
                           Resultados por institución
                      </a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link font-weight-normal" [routerLink]="['tareas']">
                          <i class="fas fa-tasks" style="color:#06394A"></i>                
                           Tareas
                      </a>
                  </li>
                
            <li class="nav-item dropdown active">
              <a class="nav-link font-weight-normal dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Más
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['configuracion']">
                    <i class="fas fa-sliders-h" style="color:#06394A"></i>
                  Editar cuenta
                </a>
                <a class="dropdown-item" [routerLink]="['reportar-bugs']">
                  <i class="fas fa-bug" style="color:#ee051e"></i>
                Reportar error
              </a>
                <a class="dropdown-item" (click)="logOut()">
                    <i class="fas fa-sign-out-alt" style="color:#ee051e "></i>
                  Salir
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <!-- Si estoy identificado como participante-->
    <nav class="navbar navbar-expand-lg navbar-light " *ngIf="identity.role_coachee">
        <a class="navbar-brand font-weight-normal" >iCoach 
            <i class="fas fa-hands-helping"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" [routerLinkActive]="['actived']">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link font-weight-normal" href="#"> 
                      <i class="fas fa-home" style="color:#06394A"></i>
                    Inicio
                  </a>
                </li>
            <li class="nav-item active">
              <a class="nav-link font-weight-normal" [routerLink]="['/perfil/:id']"> 
                <i class="fas fa-user-circle" style="color:#06394A"></i>
                Perfil
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link font-weight-normal" [routerLink]="['/mensajes']">
                <i class="far fa-envelope" style="color:#06394A"></i>
                Mensajes
              </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link font-weight-normal" [routerLink]="['/seguidores',identity._id,1]">
                  <i class="fas fa-users" style="color:#06394A"></i>
                  Mi Coach
                </a>
              </li>
              <li class="nav-item dropdown active">
                  <a class="nav-link font-weight-normal dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-sticky-note" style="color:#06394A"></i>
                    Mis Test
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item"  [routerLink]="['mis-test1']">
                      Estilos de aprendizaje
                    </a>
                    <a class="dropdown-item" [routerLink]="['mis-test2']">
                      Test de liderazgo
                    </a>
                    <a class="dropdown-item" [routerLink]="['mis-test3']">
                        Test de personalidad
                      </a>
                  </div>
                </li>
        
                <li class="nav-item active">
                    <a class="nav-link font-weight-normal" [routerLink]="['mis-resultados']">
                        <i class="fas fa-check" style="color:#06394A"></i>                     
                         Mis resultados
                    </a>
                  </li>
               
            <li class="nav-item dropdown active">
              <a class="nav-link font-weight-normal dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Más
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['configuracion']">
                    <i class="fas fa-sliders-h" style="color:#06394A"></i>
                  Editar cuenta
                </a>
                <a class="dropdown-item" [routerLink]="['reportar-bugs']">
                  <i class="fas fa-bug" style="color:#ee051e"></i>
                Reportar error
              </a>
                <a class="dropdown-item" (click)="logOut()">
                    <i class="fas fa-sign-out-alt" style="color:#ee051e "></i>
                  Salir
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
  </div>
  <router-outlet></router-outlet>
</body>